.example-container {

  max-width: 100%;
  overflow: auto;
}



table {
  max-width:800px;
}
.pagination{
  max-width:800px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}